

.Wrapper {
  padding: 18rem;
  margin-top: -15rem;
  justify-content: center;
  align-items: center;
}


.SocialIcons {
  height: 90px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -75px;
  margin-top: 20px;
}

.SocialIcons a {
  margin-left: -100px;
}

.sharedCard {
  height:600px;
  width: 600px;
  
}

.footer {
  margin-top: 5vh;
} 

.role {
  padding: 50px;
}

.role > h5 {
  color: #6bb5fc;
}

.role > span {
  padding: 10px 10px 10px 0 ;
}

.bio {
  border: 1px solid #6bb5fc;
  padding: 20px;
  border-radius: 2px;
  /* margin-top: -40px; */
}

.btnLinks {
  margin-top: 10px;
  display: inline-flex;
}

.btn {
  margin: 0px 10px;
  width: 50%;
  height: 50px;
  background-color: #3a424a;
  border: none !important;
}

.btn:hover {
  background-color: #6bb5fc;
}
.resumeBtn {
  background-color: #f9826c;
}

.content {
  padding: 20px;
  margin-top: -260px;
}

.displayPicture {
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.displayPicture > img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  /* border: 2px solid #6bb5fc; */
  padding: 20px;
  margin: 10px 40px;
}

.heartSymb {
  color: #6bb5fc;
}

.org {
  color: #f0f8f8;
  font-weight: bold;
}

.bioInfo {
  margin: 15px 0;
}

.showSkills {
  border: none;
  width:100%;
  margin-top: 10px;
}

.showSkills:hover {
  background-color: #6bb5fc;
}



.sectionContent {
  /* color: #f9826c; */
  

  color: #ccc;
  display: inline-block;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  border-radius: 0 0 3px 3px;
  padding: 10px 0;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  line-height: 0;
  text-align: center;
  top: -3px;
  position: relative;
  margin-top: 10px;
  
 
  
}


.techWrapper {
  width: 400px;
  display: flex;
  margin-top: 20px;
  position: relative;

}

.sectionContent  img {
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}

.skillTitle {
  font-weight: bold; 
}

.cardlink {
  text-align: end;
}



.cardDescription {
  margin: 10px 0;
  /* margin-bottom: -30px; */
}

.jumboHeader {
  margin-top: -15rem;
  background: none;
}


.updatedDate {
  margin-left: 30px;
}

.Project{
  padding: 20px;
}

.Project > a {
  text-decoration: none;
}

.Col2 {
  text-align: end;
}

@media (max-width: 768px ) {
  .content {
    margin-top: -10vh;
  }

  .SocialIcons {
    width: 100%;
    margin-bottom: -60px;
    margin-top: 10px;
  }

  .displayPicture {
    margin-left: auto;
    margin-right: auto;
  }
  
  .displayPicture > img {
    margin-left: -25px;
  }

  .sharedCard {
    grid-template-columns: 1fr;
    column-gap: 30px;
    position: relative;
  }

  .CardFooterContent {
    display: none;
  }

  .cardlink {
    margin-top: -30px;
  }

  

  .jumboHeader {
    width: 100%;
    margin-left: 20%;
  }
  
  .footer {
    margin-top: 50vh;
    width: 900px;
  } 
  .footerContent {
   margin-left: 100px;
  } 
}