

.Wrapper {
  padding: 18rem;
  margin-top: -15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 5vh;
} 

.role {
  padding: 50px;
}

.role > h5 {
  color: #6bb5fc;
}

.role > span {
  padding: 10px 10px 10px 0 ;
}

.bio {
  border: 1px solid #6bb5fc;
  padding: 20px;
  border-radius: 2px;
}

.btnLinks {
  margin-top: 10px;
  display: inline-flex;
}

.btn {
  margin: 0px 10px;
  width: 50%;
  height: 50px;
  background-color: #3a424a;
  border: none !important;
}

.btn:hover {
  background-color: #6bb5fc;
}
.resumeBtn {
  background-color: #f9826c;
}

.content {
  padding: 20px;
  margin-top: -250px;
}

.displayPicture {
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.displayPicture > img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  /* border: 2px solid #6bb5fc; */
  padding: 20px;
  margin: 10px 40px;
}

.heartSymb {
  color: #6bb5fc;
}

.org {
  color: #f0f8f8;
  font-weight: bold;
}

.bioInfo {
  margin: 15px 0;
}

.showSkills {
  border: none;
  width:100%;
  margin-top: 10px;
}

.showSkills:hover {
  background-color: #6bb5fc;
}

.sectionWrapper {
  /* border: 2px solid yellow; */
  max-width: 100%;
}
.sectionContent {
  /* color: #f9826c; */
  color: #ccc;
  display: inline-block;
  width: 140px;
  font-size: 12px;
  border-radius: 0 0 3px 3px;
  padding: 10px 0;
  margin: 0;
  line-height: 0;
  text-align: center;
  top: -3px;
  left: 15px;
  position: relative;
  margin-top: 10px;
  
}

.sectionContent  img {
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
}

.skillTitle {
  font-weight: bold; 
}

.cardlink {
  text-align: end;
}

.sharedCard {
  height:600px;
  width: 600px;
}

.cardDescription {
  margin: 10px 0;
}

.jumboHeader {
  margin-top: -15rem;
  background: none;
}


@media (max-width: 768px ) {
  .main {
    margin-top: -10vh;
  }
  .footer {
  margin-top: 50vh;
  } 
  .footerContent {
   margin-left: 100px;
  } 
}